@keyframes riseUp {
    0% {
        opacity: 0;
        transform: translate(-50%, 40rem);
    }         

    80% {
        opacity: 0.5;
    }

    90% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes brighten {
    0% {
        filter: brightness(15%);
    }

    25% {
        filter: brightness(25%);
    }

    50% {
        filter: brightness(45%);
    }

    70% {
        filter: brightness(70%);
    }

    100% {
        filter: brightness(100%);
    }
}

@keyframes daylight {
    0% {
		background-position: 0% 2%;
    }	 
    20% {
        background-position: 2% 15%;
    }
    50% {
        background-position: 15% 50%;
    }
    70% {
        background-position: 50% 70%;
    }
    100% {  
		background-position: 70% 100%;
	}
}

@keyframes blinking {
    0% {
        opacity: 1;
        transform: translate(-50%, 0);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, +70%);
    }
}