body {
    line-height: 1.7;  
    background-color: $backcolor-1;  
}

.header-secondary {
    text-transform: uppercase;
    background-image: linear-gradient(to right, $color-primary, $color-secondary, $color-tertiary);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 5rem;
    letter-spacing: .5rem;        
}

.paragraph {
    font-size: 2rem;     
    margin-top:0;
    

    &--dark {        
        background-color: $color-tertiary;
        color: white;
    }

    &--light {        
        background-color: $color-primary;
        color: black;
    }
}