body {
    line-height: 1.7;  
    font-family: sans-serif;
    background-color: $backcolor-1;
}

.header-secondary,
.header-tertiary {
    text-transform: uppercase;
    letter-spacing: .5rem; 
}

.header-secondary {    
    background-image: linear-gradient(to right, $color-primary, $color-secondary, $color-tertiary);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 6rem;           
}

.header-tertiary {
    padding-bottom: 2rem;
    color: $color-secondary;
    font-size: 2.5rem;
    
    &--dark {
        color: $color-tertiary;
    }
}

.paragraph {         
    margin-top:0;       
    font-size: 2rem;
    
    &--bg-dark {        
        background-color: $color-tertiary;
        color: white;
    }

    &--bg-light {        
        background-color: $color-primary;
        color: black;
    }
}