.u-shadow {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.u-padding-small {
    padding: 2rem;
}
.u-padding-medium {
    padding: 4rem;
}
.u-padding-large {
    padding: 6rem;
}
.u-border-radius-small {
    border-radius: 5px;
}

.u-border-radius-tl-tr-small {
    border-radius: 5px 5px 0 0;
}

.u-border-radius-bl-br-small {
    border-radius: 0 0 5px 5px;
}

.u-margin-right-small {
    margin-right: 5rem;
}