@keyframes riseUp {
    0% {
        opacity: 0;
        transform: translate(-50%, 50rem);
    }    

    25% {
        opacity: 0;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes brighten {
    0% {
        opacity: 0.05;
    }

    100% {
        opacity: 1;
    }
}

@keyframes daylight {
    0% {
		background-position: 0% 2%;
    }	 
    20% {
        background-position: 2% 25%;
    }
    50% {
        background-position: 25% 50%;
    }
    70% {
        background-position: 50% 70%;
    }
    100% {  
		background-position: 70% 100%;
	}
}