
<section class="section-menu" id="section-menu">
    <div class="section-menu__header">
        <h2 class="header-secondary header-secondary__dark">
                Menu
        </h2>   
    </div>     
    <div class="section-menu flex-container flex-container--bglight u-border-radius-small">
        <div class="flex-row-1 u-padding-large">
            <div class="flex-col-1-of-3">
                <h3 class="header-tertiary">
                    Glazed & Frosted
                </h3>
                <ul class="section-menu__list">
                    <li class="section-menu__list-item">Original</li>
                    <li class="section-menu__list-item">Lemon</li>
                    <li class="section-menu__list-item">Orange</li>
                    <li class="section-menu__list-item">Cherry</li>
                    <li class="section-menu__list-item">Strawberry</li>
                    <li class="section-menu__list-item">Matcha Green Tea</li>
                    <li class="section-menu__list-item">Chocolate</li>
                    <li class="section-menu__list-item">Maple</li>
                    <li class="section-menu__list-item">Coconut</li>
                    <li class="section-menu__list-item">Cinnamon</li>
                    <li class="section-menu__list-item">Vanilla</li>                    
                    <li class="section-menu__list-item">Pistachio</li>  
                    <li class="section-menu__list-item">Ube</li>  
                    <li class="section-menu__list-item">Sprinkle Topped</li>
                </ul>
            </div>
            <div class="flex-col-1-of-3">
                <h3 class="header-tertiary">
                    Cakes & Buttermilks
                </h3>
                <ul class="section-menu__list">
                    <li class="section-menu__list-item">Blueberry</li>
                    <li class="section-menu__list-item">Red Velvet</li>
                    <li class="section-menu__list-item">Chocolate Cake</li>
                    <li class="section-menu__list-item">Plain Cake</li>
                    <li class="section-menu__list-item">Old Fashion</li>
                    <li class="section-menu__list-item">Powdered</li>                                                         
                </ul>
            </div>
            <div class="flex-col-1-of-3">
                <h3 class="header-tertiary">
                    Large & Specialty
                </h3>
                <ul class="section-menu__list">
                    <li class="section-menu__list-item">Bear Claw</li>
                    <li class="section-menu__list-item">Apple Fritter</li>
                    <li class="section-menu__list-item">Cinnamon Rolls</li>
                    <li class="section-menu__list-item">Logs</li>
                    <li class="section-menu__list-item">Twists</li>
                    <li class="section-menu__list-item">Puff</li>
                    <li class="section-menu__list-item">Whipped Cream</li>
                    <li class="section-menu__list-item">Cream Cheese</li>
                    <li class="section-menu__list-item">Strawberry Cream</li>
                    <li class="section-menu__list-item">Mocha Cream</li>
                </ul>
            </div>
        </div>
        <div class="flex-row-1 u-padding-medium">       
            <div class="flex-col-1-of-3">    
            <hr/>
            </div> 
            <div class="flex-col-1-of-3">    
                <h3 class="header-tertiary">Seasonal</h3>
                <ul class="section-menu__list">
                    <li class="section-menu__list-item">Pumpkin Spice</li>
                    <li class="section-menu__list-item">Apple Cider</li>
                    <li class="section-menu__list-item">Christmas Treats</li>
                </ul>           
            </div>
            <div class="flex-col-1-of-3">    
            </div> 
        </div>
    </div>
</section>

