.flex-container {
    background-color: $backcolor-2;       
    margin: 10rem 10rem 0 10rem;  
    
}
.flex-row-1 {
    display: flex;       
}
.flex-col-1-of-3 {
    flex: 1;    
}


.flex-col-1-of-2 {
    flex: 3;
}
.flex-col-2-of-2 {
    flex: 1;        
}

.flex-row-2 {
    display: flex;
    overflow: hidden;
}

.flex-col-1-of-4 {
    flex: 1;
    width: 40rem;
    height: 40rem;
}