.flex-container {
    background-color: $backcolor-2;       
    margin-top: 10rem;  
}

.flex-row {
    display: flex;       
}

.flex-col-1-of-3 {
    flex: 1;    
}

.flex-col-1-of-2 {
    flex: 2;
}

.flex-col-2-of-2 {
    flex: 1;
}