.flex-container {
    display: flex;    
    justify-content: space-between;    
    margin: 0 10rem 10rem 10rem;

    &__col-1-of-3 {        
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex: 0 0 32%;     
        background-color: $backcolor-3;
        
        @include respond-sect(med) {
            margin: 3rem;
        }

        @include respond-sect(small) {
            margin: 1rem;
        }

        @include respond-sect(tiny) {
            margin: 0;
        }
    }

    &__col-1-of-3:not(:last-of-type) {
        @include respond-sect(med) {
            margin-bottom: 3rem;
        }
    }

    @include respond-sect(largest) {
        margin: 0 5rem 5rem 5rem;    
    }

    @include respond-sect(large1) {
        margin: 0;   
    }

    @include respond-sect(med) {
        flex-direction: column;      
        margin: 3rem;                
    }

    @include respond-sect(smallest) {
        flex-direction: column;              
    }

    @include respond-sect(tiny) {
        margin: 0;
    }

    &--bgcolor2 { background-color: $backcolor-2; }    
}

.flex-container-2 {
    display: flex;
    flex: 0 0 100%;    

    @include respond-sect(large2) {
        flex-direction: column;
    }

    &__col-1-of-2 {        
        width: 65%;               
        flex-direction: column;  
        
        @include respond-sect(large2) {
            width: 100%;            
        }

        @include respond-sect(smallest) {             
            padding: 3rem;            
        }
    }

    &__col-2-of-2 {
        width: 35%;
        display: flex;     
        flex-wrap: wrap;   
        flex-direction: column;
        overflow: hidden;

        @include respond-sect(large2) {  
            width: 100%;
            flex-direction: row;
            flex-wrap: nowrap;              
            align-items: center;                                        
        }

        @include respond-sect(small) {
            flex-direction: column;
        }
    }

    &__col-1-of-4 {                        
        align-items: center;
        transform: scale(1.05);               
        
       
        @include respond-sect(large2) {             
            transform: scale(1.23);            
            overflow: hidden;
        }
       
    }


    &--bgcolor2 { background-color: $backcolor-2; }   
}

.flex-container-3 {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid $color-secondary;
    padding: 10rem 0;    
    margin: auto;

    @include respond-sect(largest) {
        //padding: 5rem 0;
    }

    @include respond-sect(large3) {
        font-size: 1.7rem; 
    }

    @include respond-sect(large2) {
        font-size: 1.4rem; 
        padding: 5rem 0;
    }

    @include respond-sect(med) {
        flex-direction: column;
    }

    &__col-1-of-3 {
        
        


    }
}

.flex-container-4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    align-items: flex-start;

    @include respond-sect(med) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
   
}