.header {
    height: 90vh;           
    width: 100vw;
    position: relative;

    @include respond(big-laptop) {
        height: 90.5vh;
    }

    @include respond(laptop) {
        height: 88.5vh;
    }
    
    @include respond(tab-land) {
        height: 87.5vh;
    }

    @include respond(ipad-pro) {
        height: 92.5vh;
    }  

    @include respond(ipad) {
        height: 90vh;
    }
    
    &__img-sky {
        background: linear-gradient(-180deg, #000d1a, #00284d, #004280, #005cb3, #0077e6, #1a90ff, #4da9ff, #80c1ff);
        background-size: 600% 600%;
        height: 100%;
        width: 100%;
        animation-name: daylight;
        z-index: 1;
    }

    &__img-buildings {
        background: transparent url(/img/uptown-buildings.png) repeat-x bottom;
        position: absolute;
        width: 100%;  
        top: 0;
        left: 0;  
        height: 100%;
        z-index: 5;        
        animation-name: brighten;

        @include respond(big-laptop) {
            background-size: 55%;
        }

        @include respond(laptop) {
            background-size: 55%;
        }

        @include respond(tab-land) {
            background-size: 50%;
        }
       

    }

    &__img-donut-sun {
        background: url(/img/uptown-donut.png) no-repeat center;                
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 4;
        height: 100%;
        width: 100%;        
        animation-name: riseUp;

        @include respond(big-laptop) {
            background-size: 10%;
        }

        @include respond(laptop) {
            background-size: 8%;
        }

        @include respond(tab-land) {
            background-size: 10%;
        }        
      
    }

    &__img-scroll {
        background: url(/img/uptown-donut-arrow-small.png) no-repeat center;
        @include complete-center;
        position: absolute;        
        height: 64px;
        width: 64px;
        opacity: 0;
        z-index: 4;    
        animation-delay: 5s;  
        animation-name: blinking;
        animation-iteration-count: infinite;
        animation-duration: 1.5s;    
    }

    &--animated {
        animation-duration: 5s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }
   
}