.section-donuts {            
    padding: 5rem;    
   
    @include respond-sect(large1) {
        padding: 5rem 0 0 0;
    }

    @include respond-sect(med) {
        padding: 5rem;
    }

    @include respond-sect(small) {
        padding: 2rem;
    }

    &__headline {
        text-align: center;        
    }

    &__header {        
        font-size: 6rem;
        text-transform: uppercase;

        &--dark {
            color: $color-tertiary;
        }

        @include respond-sect(large2) {
            font-size: 5rem;
        }
    
        @include respond-sect(large1) {
            font-size: 4rem;
        }

        @include respond-sect(small) {
            font-size: 2.75rem;
        }

        @include respond-sect(tiny) {
            font-size: 2rem;
        }
    }

    &__paragraph {
        font-size: 2rem;
        padding-bottom: 5rem;                

        @include respond-sect(large2) {
            font-size: 2rem;
        }

        @include respond-sect(large1) {
            font-size: 1.7rem;
        }

        @include respond-sect(small) {
            font-size: 1.3rem;
            padding-bottom: 2rem;
        }

        @include respond-sect(tiny) {
            font-size: 1.2rem;
        }
    }

    &__paragraph p {        
        display: inline-block;
        max-width: 70%;
        word-wrap: break-word;        
    }

    &__description {
        padding: 5rem;        
        
        @include respond-sect(largest) {
            padding: 3rem;
        }

        @include respond-sect(large2) {
            font-size: 2rem;
        }
    
        @include respond-sect(large1) {
            font-size: 1.5rem;
        }                  
    }

    &__photo {
        overflow: hidden;         
    }

    &__photo > img {          
        width: 100%;    
        transform: scale(1.05);
        transition: all .4s;          
    }

    &__photo > img:hover {
        transform: scaleX(1.2) scaleY(1.2);
    }       
}

.section-about {
    background-color: $backcolor-3;    
    padding: 5rem 15rem 15rem 15rem;

    @include respond-sect(largest) {
        padding: 5rem 10rem 10rem 10rem;
    }

    @include respond-sect(large1) {
        padding: 5rem 3rem 3rem 3rem;
    }
    
    @include respond-sect(med) {
        padding: 5rem 8rem 8rem 8rem;
    }

    @include respond-sect(small) {
        padding: 5rem;
    }

    @include respond-sect(smallest) {             
        padding: 2rem;            
    }

    &__headline {
        text-align: center;
    }

    &__description {
       
    }

    &__paragraph {
        font-size: 2.1rem;
        line-height: 3.2rem;
        padding-bottom: 3rem;

        @include respond-sect(largest) {
            font-size: 1.6em;
        }

        @include respond-sect(large3) {
            font-size: 1.4rem;
        }
    }

    &__header {
        font-size: 6rem;
        text-transform: uppercase;
        padding-bottom: 5rem;

        @include respond-sect(large2) {
            font-size: 5rem;
        }
    
        @include respond-sect(large1) {
            font-size: 4rem;
        }

        @include respond-sect(small) {
            font-size: 2.75rem;
            
        }

        @include respond-sect(smallest) {
            padding-bottom: 2rem;
        }

        @include respond-sect(tiny) {
            font-size: 2rem;
            
        }
    }

    &__photo {
        max-width: 100%;
        max-height: auto;        
    }
}

.section-menu {    
    text-align: center;    
    padding: 5rem 15rem 15rem 15rem;
    background-color: #fff;
   
    @include respond-sect(largest) {             
        padding: 5rem 10rem 10rem 10rem;
    }

    @include respond-sect(large1) {             
        padding: 3rem;
    }

    @include respond-sect(med) {             
        padding: 8rem;
    }

    @include respond-sect(small) {             
        padding: 5rem;
    }

    @include respond-sect(smallest) {             
        padding: 2rem;
    }

    &__header {        
        font-size: 6rem;
        text-transform: uppercase;

        &--dark {
            color: $color-tertiary;
        }

        @include respond-sect(large2) {
            font-size: 5rem;
        }
    
        @include respond-sect(large1) {
            font-size: 4rem;
        }

        @include respond-sect(small) {
            font-size: 2.75rem;
        }

        @include respond-sect(tiny) {
            font-size: 2rem;
        }
    }

    // &__paragraph {
    //     margin-bottom: 5rem;
    //     font-size: 2rem;
    // }
    &__paragraph {
        font-size: 2.1rem;
        line-height: 3.2rem;
        margin-bottom: 3rem;

        @include respond-sect(largest) {
            font-size: 2rem;
        }

        @include respond-sect(large2) {
            font-size: 1.8rem;
        }

        @include respond-sect(small) {
            font-size: 1.5rem;
        }
    }

    &__list {        
        list-style: none;
        text-decoration: none;
        font-size: 2rem;

        @include respond-sect(largest) {             
            font-size: 1.7rem;
        }

        @include respond-sect(med) {             
            font-size: 2.2rem;
        }

        @include respond-sect(small) {             
            font-size: 1.8rem;
        }
    }

    &__list-item {
        color: $color-tertiary;
        
    }

    &__photo > img {
        max-width: 100%;
        max-height: 100%;
    }
}

.footer {


}

.icons {

    list-style: none;
    
    &__item {
        display: inline-block;    
                
        &--color-fb {
            color: #3b5999;
        }
    
        &--color-in {
            color: #e4405f;
        }      

        &:hover {
            cursor: pointer;
        }
        
        &--color-fb:hover {
            color: #152f69;
        }
    
        &--color-in:hover {
            color: #f5768d;
        } 
    }
   
}

.location {
    font-size: 2rem;
    color: #fefefe;

    &__address {
        margin-bottom: 2rem;
    }
}