.section-donuts {            
    padding: 10rem 10rem;
    margin-bottom: 5rem;
    
    &__header {
        text-align: center;        
    }

    &__photo {
        overflow: hidden;        
    }

    &__photo > img {          
        width: 100%;    
        transform: scale(1.05);
        transition: all .4s;            
    }

    &__photo > img:hover {
        transform: scaleX(1.2) scaleY(1.2);
    }    
}

.section-about {
    background-color: $backcolor-3;
    padding: 10rem 10rem;

    &__header {
        text-align: center;
    }

    &__photo > img {
        max-width: 100%;
        max-height: 100%;
    }
}

.section-menu {
    margin-top: 10rem;
    text-align: center;
   
    &__list {        
        list-style: none;
        text-decoration: none;
    }

    &__list-item {
        font-size: 2rem;
    }
}