.section-donuts {            
    padding: 10rem;
    margin-bottom: 5rem;
    
    @include respond(big-laptop) {
        padding: 2rem;
        margin: 10rem 0;
    }

    @include respond(phone) {
        padding: 2rem;        
    }

    @include respond(iphonex) {

    }

    &__header {
        text-align: center;
        @include respond(phone) {
            margin-bottom: 2rem;
        }   
    }

    &__description {
        padding: 5rem;

        @include respond(iphonex) {
            padding: 2rem;               
        }

    }

    &__photo {
        overflow: hidden;         
    }

    &__photo > img {          
        width: 100%;    
        transform: scale(1.05);
        transition: all .4s;   
        
        @include respond(iphonex) {
            width: auto;
            transform: scale(1.10);
        }
    }

    &__photo > img:hover {
        transform: scaleX(1.2) scaleY(1.2);
    }    
}

.section-about {
    background-color: $backcolor-3;
    padding: 10rem 10rem;    

    &__description {
        @include respond(big-laptop) {
            margin: 10rem 2rem 5rem 2rem;            
        }
    }

    &__header {
        text-align: center;
    }

    &__photo > img {
        max-width: 100%;
        max-height: 100%;
    }
}

.section-menu {
    margin-top: 10rem;
    margin-bottom: 10rem;
    text-align: center;
   
    &__list {        
        list-style: none;
        text-decoration: none;
    }

    &__list-item {
        color: $color-tertiary;
        font-size: 2rem;
    }

    &__photo > img {
        max-width: 100%;
        max-height: 100%;
    }
}

.footer {


}

.icons {

    list-style: none;
    
    &__item {
        display: inline-block;    
                
        &--color-fb {
            color: #3b5999;
        }
    
        &--color-in {
            color: #e4405f;
        }      

        &:hover {
            cursor: pointer;
        }
        
        &--color-fb:hover {
            color: #152f69;
        }
    
        &--color-in:hover {
            color: #f5768d;
        } 
    }
   
}

.location {
    font-size: 2rem;
    color: #fefefe;

    &__address {
        margin-bottom: 2rem;
    }
}