@mixin complete-center {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

@mixin respond-sect($bp) {

    @if $bp == largest {
        @media (max-width: 100em) { @content }; // 1600 px
    }

    @if $bp == large3 {
        @media (max-width: 90em) { @content }; // 1440 px
    }

    @if $bp == large2 {
        @media (max-width: 75em) { @content }; // 1200 px
    }

    @if $bp == large1 {
        @media (max-width: 66.875em) { @content }; // 1070 px
    }

    @if $bp == med {
        @media (max-width: 54.275em) { @content }; // 870 px
    }

    @if $bp == small {
        @media (max-width: 37.5em) { @content }; // 600 px
    }

    @if $bp == smallest {
        @media (max-width: 31.25em) { @content }; // 500 px
    }

    @if $bp == tiny {
        @media (max-width: 23.4375em) { @content }; // 375 px
    }
}

@mixin respond-anim($breakpoint) {

    @if $breakpoint == galaxy {
        @media (max-width: 22.5em) { @content }; // 360px
    }

    @if $breakpoint == iphonex {
        @media (max-width: 23.44em) { @content }; // 375px
    }

    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content };  // 600px
    }

    @if $breakpoint == ipad {
        @media (max-width: 48em) { @content }; // 768 px
    }

    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { @content };  // 900px
    }

    @if $breakpoint == ipad-pro {
        @media (max-width: 64em) { @content };  // 1024px
    }

    @if $breakpoint == laptop {
        @media (max-width: 90em) { @content }; // 1440px
    }

    @if $breakpoint == big-laptop {
        @media (max-width: 105em) { @content }; // 1680px
    }

    @if $breakpoint == desktop {
        @media (min-width: 112.5em) { @content }; // 1800px
    }
}